<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="llvm_5.0.0_x64_Release" version="1.0.0"/>
  <package id="BrainSlice.v2.DevKit.PikesPeak-Bedrock.Exchange8bit" version="0.1.0"/>
  <package id="Bond.Cpp" version="5.3.1"/>
  <package id="Bond.Fpga" version="0.2.7"/>
  <package id="Bond.Fpga.Compiler" version="0.2.8"/>
  <package id="Catapult.HaaS.Rtl" version="0.4.7"/>
  <package id="CatapultFpgaCoreLib" version="3.88.2659"/>
  <package id="CatapultFpgaCoreLib.redist" version="3.88.2659"/>
  <package id="BrainSlice.v2.PP.Client" version="1.0.1"/>
</packages>